.page-header
  %h1 
    Listing books
    %small A list of all books

%table.table.table-striped
  %tr
    %th Title
    %th ISBN
    %th Author
    %th Status
    %th
  - @books.each do |book|
    %tr
      %td
        = book.title
      %td
        = book.ISBN
      %td
        = book.author
      %td.status
        = book.status
      %td
        .btn-group
          = link_to 'Show', book, class: 'btn'
          = link_to 'Edit', edit_book_path(book), class: 'btn'
          = link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure' }, class: 'btn'

= link_to "New Book", new_book_path, class: 'btn'
